<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--windows service configuration-->
	<add key="hangfire.server.serviceName" value="HangfireTopshelf" />
	<add key="hangfire.server.serviceDisplayName" value="Hangfire Topshelf" />
	<add key="hangfire.server.serviceDescription" value="using topshelf to host hangfire server,processing background jobs etc." />
	<add key="hangfire.server.serviceAddress" value="http://localhost:9005/" />
	<add key="hangfire.server.website" value="http://localhost:9005/" />
	<add key="hangfire.login.user" value="admin" />
	<add key="hangfire.login.pwd" value="abc@123" />
</appSettings>